*{
  box-sizing: border-box;
  margin: 0;
  transition: all 0.5s ease-in-out;
}
*:active, *:focus{
	outline: none;
}
body {
  background-color: #00DBDE;
  /* background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%); */
  background: linear-gradient(-45deg, #254F9C, #00DBDE, #FC00FF, #23d573);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  overflow-x: hidden;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
body::-webkit-scrollbar{
	background-color: rgb(211, 211, 211);
	width: 10px;
}
body::-webkit-scrollbar-thumb{
	background-color: rgb(59, 59, 59);
	border-radius: 20px;
}
body::-webkit-scrollbar-track{
  background-color: rgb(211, 211, 211);
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Barlow-Bold';
  color: #30336b;
}
li, p, a, span, label, input{
  font-family: 'Barlow-Regular';
  color: #6a6a6b;
  font-weight: bold;
  text-decoration:none;
}
i, b{
  font-family: 'Barlow-Bold';
  color: #ee5253;
}
caption{
  color: #30336b;
}
tbody, th, td, caption{
  font-family: 'Barlow-Regular';
  color: whitesmoke;
}
span{
  font-family: 'Barlow-Medium';
  color: #942785;
}
@font-face {
  font-family: 'Barlow-Regular';
  src: local('Barlow'), url(./assets/fonts/Barlow-Regular.ttf) format('woff');
}
@font-face {
  font-family: 'Barlow-Bold';
  src: local('Barlow'), url(./assets/fonts/Barlow-Bold.ttf) format('woff');
}
@font-face {
  font-family: 'Barlow-Medium';
  src: local('Barlow'), url(./assets/fonts/Barlow-Medium.ttf) format('woff');
}
@font-face {
  font-family: 'Barlow-Light';
  src: local('Barlow'), url(./assets/fonts/Barlow-Light.ttf) format('woff');
}
.ReactModal__Content--after-open::-webkit-scrollbar{
	background-color: rgb(211, 211, 211);
	border-radius: 20px;
	width: 10px;
}
.ReactModal__Content--after-open::-webkit-scrollbar-thumb{
	background-color: rgb(54, 31, 31);
	border-radius: 20px;
}
/* Modal */
.ReactModalPortal > div{
	opacity: 0;
}
.ReactModalPortal .ReactModal__Overlay {
	align-items: center;
	display: grid;
	justify-content: center;
	transition: opacity .2s ease-in-out;
	z-index: 999;
}
.modal-fondo {
	background-color: rgba(0, 0, 0, 0.3);
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	position: fixed;
}
.ReactModalPortal .ReactModal__Overlay--after-open {
	opacity: 1;
}
.ReactModalPortal .ReactModal__Overlay--before-close {
	opacity: 0;
}
/* Drawer */
@media (min-width: 30em) {
.DrawerMenu {
    grid-template-columns: auto 1fr
}
  }
[data-menu]:checked ~ .DrawerMenu {
    transform: none
}
@media (min-width: 30em) {
.Menu {
    min-width: 300px
}
  }
[data-menu]:checked ~ .DrawerMenu .Menu {
    transform: none;
    opacity: 1;
    transition-delay: 300ms
}
.Menu a {
    text-decoration: none;
    color: #4f688080;
    display: block;
    padding: 1em 0
  }
.Menu a:hover {
      color: #a4067f;
    }
.Menu > * + * {
    border-top: 1px solid rgba(160, 0, 209, 0.1);
  }
[data-menu]:not(:checked) ~ .DrawerMenu .MenuOverlay {
    pointer-events: none
}
/* Magic  */
